<html>
  <head>
    <link rel="stylsheet" href="styles.css">
  </head>

  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p><%= check_guess(guess) %></p>
    <p><%= secret_message(guess) %></p>
  </body>
</html>
